.lockpage {
    text-align: center;
}

.navbar {
    background-color: lightgray;
}

.navbar div {
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: lightgreen;
}

.navbar div:hover {
    background-color: green;
}

.active-tab {
    cursor: default !important;
    background-color: lime !important;
}

.runs {
    margin-top: 5px;
}

.runbtt {
    width: 100%;
    height: 30px;
}

.yamlTxt {
    width: 100%;
    height: 500px;
}

.runline:nth-child(odd){
    background-color: lightgrey;
}

.runstable {
    width: 100%;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

.fullwidth {
    width: 100%;
}

.btt-txt {
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    
}

.scroll-box {
    overflow-y: scroll;
    max-height: 1000px;
}

.monospace {
    font-family: monospace, monospace;
}