bson==0.5.8
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Cython==0.29.14
falcon==2.0.0
idna==2.8
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlconfig==0.0.7
numpy==1.17.4
olefile==0.46
Pillow==6.2.1
psycopg2==2.8.4
pycparser==2.19
pyinstrument==3.1.0
pyinstrument-cext==0.2.2
pyprof2calltree==1.4.4
python-dateutil==2.8.1
python-interface==1.5.3
pytorch-model-summary==0.1.1
PyYAML==5.2
requests==2.22.0
setproctitle==1.1.10
six==1.13.0
torch==1.3.1
torchvision==0.4.2
tqdm==4.41.1
urllib3==1.25.7
